In [2]:
#import libraries and load the raw dataset
import pandas as pd
covidg = pd.read_csv('covid_de.csv')
covidg.head()

,state,county,age_group,gender,date,cases,deaths,recovered
0,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-03-27,1,0,1
1,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-03-28,1,0,1
2,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-04-03,1,0,1
3,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-05-08,1,0,1
4,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,M,2020-05-18,1,0,1

In [3]:
#count the number of rows and get the coulmn names
nrows = covidg.count
print(nrows)
covidg.columns

<bound method DataFrame.count of                     state              county age_group gender        date  \
0      Baden-Wuerttemberg  LK Alb-Donau-Kreis     00-04      F  2020-03-27
1      Baden-Wuerttemberg  LK Alb-Donau-Kreis     00-04      F  2020-03-28
2      Baden-Wuerttemberg  LK Alb-Donau-Kreis     00-04      F  2020-04-03
3      Baden-Wuerttemberg  LK Alb-Donau-Kreis     00-04      F  2020-05-08
4      Baden-Wuerttemberg  LK Alb-Donau-Kreis     00-04      M  2020-05-18
5      Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-03-17
6      Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-03-25
7      Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-03-26
8      Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-03-29
9      Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-03-31
10     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-04-01
11     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-04-09
12     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-04-17
13     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-04-27
14     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-05-11
15     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      F  2020-05-23
16     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      M  2020-03-26
17     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      M  2020-03-30
18     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      M  2020-04-01
19     Baden-Wuerttemberg  LK Alb-Donau-Kreis     05-14      M  2020-05-23
20     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-14
21     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-15
22     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-16
23     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-18
24     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-19
25     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-20
26     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-21
27     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-23
28     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-24
29     Baden-Wuerttemberg  LK Alb-Donau-Kreis     15-34      F  2020-03-25
...                   ...                 ...       ...    ...         ...
78323          Thueringen           SK Weimar     35-59      F  2020-04-08
78324          Thueringen           SK Weimar     35-59      F  2020-04-09
78325          Thueringen           SK Weimar     35-59      F  2020-04-12
78326          Thueringen           SK Weimar     35-59      F  2020-04-25
78327          Thueringen           SK Weimar     35-59      M  2020-03-16
78328          Thueringen           SK Weimar     35-59      M  2020-03-17
78329          Thueringen           SK Weimar     35-59      M  2020-03-20
78330          Thueringen           SK Weimar     35-59      M  2020-03-23
78331          Thueringen           SK Weimar     35-59      M  2020-03-24
78332          Thueringen           SK Weimar     35-59      M  2020-03-25
78333          Thueringen           SK Weimar     35-59      M  2020-03-28
78334          Thueringen           SK Weimar     35-59      M  2020-04-01
78335          Thueringen           SK Weimar     35-59      M  2020-04-02
78336          Thueringen           SK Weimar     35-59      M  2020-04-06
78337          Thueringen           SK Weimar     35-59      M  2020-04-07
78338          Thueringen           SK Weimar     35-59      M  2020-04-12
78339          Thueringen           SK Weimar     35-59      M  2020-04-23
78340          Thueringen           SK Weimar     35-59      M  2020-04-30
78341          Thueringen           SK Weimar     60-79      F  2020-03-23
78342          Thueringen           SK Weimar     60-79      F  2020-03-26
78343          Thueringen           SK Weimar     60-79      F  2020-04-01
78344          Thueringen           SK Weimar     60-79      M  2020-04-01
78345          Thueringen           SK Weimar     60-79      M  2020-04-02
78346          Thueringen           SK Weimar     60-79      M  2020-04-03
78347          Thueringen           SK Weimar     60-79      M  2020-04-06
78348          Thueringen           SK Weimar     60-79      M  2020-04-09
78349          Thueringen           SK Weimar     80-99      F  2020-03-28
78350          Thueringen           SK Weimar     80-99      F  2020-04-21
78351          Thueringen           SK Weimar     80-99      M  2020-03-24
78352          Thueringen           SK Weimar     80-99      M  2020-04-01

       cases  deaths  recovered
0          1       0          1
1          1       0          1
2          1       0          1
3          1       0          1
4          1       0          1
5          1       0          1
6          1       0          1
7          1       0          1
8          1       0          1
9          1       0          1
10         1       0          1
11         1       0          1
12         1       0          1
13         1       0          1
14         1       0          1
15         1       0          0
16         1       0          1
17         1       0          1
18         2       0          2
19         1       0          0
20         1       0          1
21         1       0          1
22         1       0          1
23         1       0          1
24         1       0          1
25         1       0          1
26         1       0          1
27         2       0          2
28         5       0          5
29         5       0          5
...      ...     ...        ...
78323      1       0          1
78324      1       0          1
78325      2       0          2
78326      1       0          1
78327      1       0          1
78328      2       0          2
78329      1       0          1
78330      1       0          1
78331      1       0          1
78332      2       0          2
78333      1       0          1
78334      1       0          1
78335      3       0          3
78336      1       0          1
78337      2       0          2
78338      1       0          1
78339      1       0          1
78340      1       0          1
78341      2       0          2
78342      1       0          1
78343      1       0          1
78344      1       0          1
78345      1       0          1
78346      1       0          1
78347      1       0          1
78348      1       0          1
78349      2       0          2
78350      1       0          1
78351      1       0          1
78352      1       0          1

[78353 rows x 8 columns]>

Index(['state', 'county', 'age_group', 'gender', 'date', 'cases', 'deaths',
       'recovered'],
      dtype='object')

In [4]:
#remove the columns of gender and age-group as we do not need this information
covidg = covidg.drop('age_group',1)
covidg = covidg.drop('gender',1)
covidg.head()

,state,county,date,cases,deaths,recovered
0,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-03-27,1,0,1
1,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-03-28,1,0,1
2,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-04-03,1,0,1
3,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-05-08,1,0,1
4,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-05-18,1,0,1

In [5]:
#get all the dates for validation and replace the encountered errors
covidg['date'].unique()
covidg['date'] = covidg['date'].replace('2020-01-03','2020-01-30')

In [6]:
#group the rows by state and county as we have removed two columns
df = covidg.groupby(['state','county','date']).agg('sum').reset_index()
df.columns
#count the number of rows now
nfrows = df.count
print(nfrows)
#check the spellings of the states as they should exactly match with the topography json files
df['state'].unique()

<bound method DataFrame.count of                     state              county        date  cases  deaths  \
0      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-02-28      1       0
1      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-04      3       0
2      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-07      1       0
3      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-10      1       0
4      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-11      2       0
5      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-13      3       0
6      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-14      4       0
7      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-15      2       0
8      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-16      1       0
9      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-17      9       0
10     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-18      3       0
11     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-19      9       0
12     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-20     14       0
13     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-21      9       0
14     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-22      2       0
15     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-23      9       0
16     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-24     24       0
17     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-25     26       0
18     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-26     42       3
19     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-27     25       0
20     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-28     20       0
21     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-29     15       0
22     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-30     17       1
23     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-31     16       1
24     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-01     26       0
25     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-02     17       0
26     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-03     37       0
27     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-04      8       0
28     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-05     18       1
29     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-06      6       0
...                   ...                 ...         ...    ...     ...
21827          Thueringen             SK Suhl  2020-05-19      1       0
21828          Thueringen             SK Suhl  2020-05-23      1       0
21829          Thueringen             SK Suhl  2020-05-25      1       0
21830          Thueringen           SK Weimar  2020-03-10      1       0
21831          Thueringen           SK Weimar  2020-03-16      1       0
21832          Thueringen           SK Weimar  2020-03-17      4       0
21833          Thueringen           SK Weimar  2020-03-18      1       0
21834          Thueringen           SK Weimar  2020-03-20      3       0
21835          Thueringen           SK Weimar  2020-03-23      3       0
21836          Thueringen           SK Weimar  2020-03-24      3       0
21837          Thueringen           SK Weimar  2020-03-25      4       0
21838          Thueringen           SK Weimar  2020-03-26      3       0
21839          Thueringen           SK Weimar  2020-03-27      1       0
21840          Thueringen           SK Weimar  2020-03-28      5       0
21841          Thueringen           SK Weimar  2020-04-01      5       0
21842          Thueringen           SK Weimar  2020-04-02      4       0
21843          Thueringen           SK Weimar  2020-04-03      5       0
21844          Thueringen           SK Weimar  2020-04-05      3       0
21845          Thueringen           SK Weimar  2020-04-06      2       0
21846          Thueringen           SK Weimar  2020-04-07      3       0
21847          Thueringen           SK Weimar  2020-04-08      1       0
21848          Thueringen           SK Weimar  2020-04-09      3       0
21849          Thueringen           SK Weimar  2020-04-12      3       0
21850          Thueringen           SK Weimar  2020-04-21      1       0
21851          Thueringen           SK Weimar  2020-04-23      1       0
21852          Thueringen           SK Weimar  2020-04-25      1       0
21853          Thueringen           SK Weimar  2020-04-30      2       0
21854          Thueringen           SK Weimar  2020-05-06      1       0
21855          Thueringen           SK Weimar  2020-05-07      1       0
21856          Thueringen           SK Weimar  2020-05-19      3       0

       recovered
0              1
1              3
2              1
3              1
4              2
5              3
6              4
7              2
8              1
9              9
10             3
11             9
12            14
13             9
14             2
15             9
16            24
17            26
18            39
19            25
20            20
21            15
22            16
23            15
24            26
25            17
26            37
27             8
28            17
29             6
...          ...
21827          0
21828          0
21829          0
21830          1
21831          1
21832          4
21833          1
21834          3
21835          3
21836          3
21837          4
21838          3
21839          1
21840          5
21841          5
21842          4
21843          5
21844          3
21845          2
21846          3
21847          1
21848          3
21849          3
21850          1
21851          1
21852          1
21853          2
21854          1
21855          1
21856          0

[21857 rows x 6 columns]>

array(['Baden-Wuerttemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen',
       'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thueringen'], dtype=object)

In [7]:
#read the statecode file (no longer needed though)
code = pd.read_excel('ger_statecode.xlsx')
code.to_csv()
code

                     state code
0       Baden-Wuerttemberg   BW
1                   Bayern   BY
2                   Berlin   BE
3              Brandenburg   BB
4                   Bremen   HB
5                  Hamburg   HH
6                   Hessen   HE
7            Niedersachsen   NI
8   Mecklenburg-Vorpommern   MV
9      Nordrhein-Westfalen   NW
10         Rheinland-Pfalz   RP
11                Saarland   SL
12                 Sachsen   SN
13          Sachsen-Anhalt   ST
14      Schleswig-Holstein   SH
15              Thueringen   TH

In [8]:
#enter the state codes to the covid data file (no longer needed though)
final = pd.merge(df,code)
#check the final count of rows as it should be the same to ensure no state was omitted during the merge
nfrows = final.count
print(nfrows)

<bound method DataFrame.count of                     state              county        date  cases  deaths  \
0      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-02-28      1       0
1      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-04      3       0
2      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-07      1       0
3      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-10      1       0
4      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-11      2       0
5      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-13      3       0
6      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-14      4       0
7      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-15      2       0
8      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-16      1       0
9      Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-17      9       0
10     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-18      3       0
11     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-19      9       0
12     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-20     14       0
13     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-21      9       0
14     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-22      2       0
15     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-23      9       0
16     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-24     24       0
17     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-25     26       0
18     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-26     42       3
19     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-27     25       0
20     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-28     20       0
21     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-29     15       0
22     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-30     17       1
23     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-03-31     16       1
24     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-01     26       0
25     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-02     17       0
26     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-03     37       0
27     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-04      8       0
28     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-05     18       1
29     Baden-Wuerttemberg  LK Alb-Donau-Kreis  2020-04-06      6       0
...                   ...                 ...         ...    ...     ...
21827          Thueringen             SK Suhl  2020-05-19      1       0
21828          Thueringen             SK Suhl  2020-05-23      1       0
21829          Thueringen             SK Suhl  2020-05-25      1       0
21830          Thueringen           SK Weimar  2020-03-10      1       0
21831          Thueringen           SK Weimar  2020-03-16      1       0
21832          Thueringen           SK Weimar  2020-03-17      4       0
21833          Thueringen           SK Weimar  2020-03-18      1       0
21834          Thueringen           SK Weimar  2020-03-20      3       0
21835          Thueringen           SK Weimar  2020-03-23      3       0
21836          Thueringen           SK Weimar  2020-03-24      3       0
21837          Thueringen           SK Weimar  2020-03-25      4       0
21838          Thueringen           SK Weimar  2020-03-26      3       0
21839          Thueringen           SK Weimar  2020-03-27      1       0
21840          Thueringen           SK Weimar  2020-03-28      5       0
21841          Thueringen           SK Weimar  2020-04-01      5       0
21842          Thueringen           SK Weimar  2020-04-02      4       0
21843          Thueringen           SK Weimar  2020-04-03      5       0
21844          Thueringen           SK Weimar  2020-04-05      3       0
21845          Thueringen           SK Weimar  2020-04-06      2       0
21846          Thueringen           SK Weimar  2020-04-07      3       0
21847          Thueringen           SK Weimar  2020-04-08      1       0
21848          Thueringen           SK Weimar  2020-04-09      3       0
21849          Thueringen           SK Weimar  2020-04-12      3       0
21850          Thueringen           SK Weimar  2020-04-21      1       0
21851          Thueringen           SK Weimar  2020-04-23      1       0
21852          Thueringen           SK Weimar  2020-04-25      1       0
21853          Thueringen           SK Weimar  2020-04-30      2       0
21854          Thueringen           SK Weimar  2020-05-06      1       0
21855          Thueringen           SK Weimar  2020-05-07      1       0
21856          Thueringen           SK Weimar  2020-05-19      3       0

       recovered code
0              1   BW
1              3   BW
2              1   BW
3              1   BW
4              2   BW
5              3   BW
6              4   BW
7              2   BW
8              1   BW
9              9   BW
10             3   BW
11             9   BW
12            14   BW
13             9   BW
14             2   BW
15             9   BW
16            24   BW
17            26   BW
18            39   BW
19            25   BW
20            20   BW
21            15   BW
22            16   BW
23            15   BW
24            26   BW
25            17   BW
26            37   BW
27             8   BW
28            17   BW
29             6   BW
...          ...  ...
21827          0   TH
21828          0   TH
21829          0   TH
21830          1   TH
21831          1   TH
21832          4   TH
21833          1   TH
21834          3   TH
21835          3   TH
21836          3   TH
21837          4   TH
21838          3   TH
21839          1   TH
21840          5   TH
21841          5   TH
21842          4   TH
21843          5   TH
21844          3   TH
21845          2   TH
21846          3   TH
21847          1   TH
21848          3   TH
21849          3   TH
21850          1   TH
21851          1   TH
21852          1   TH
21853          2   TH
21854          1   TH
21855          1   TH
21856          0   TH

[21857 rows x 7 columns]>

In [9]:
#get a list of all the dates to ensure they adhere to the common date format.
final['date'].unique()

array(['2020-02-28', '2020-03-04', '2020-03-07', '2020-03-10',
       '2020-03-11', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-27', '2020-04-28', '2020-04-29',
       '2020-04-30', '2020-05-01', '2020-05-02', '2020-05-03',
       '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
       '2020-05-09', '2020-05-10', '2020-05-11', '2020-05-12',
       '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-16',
       '2020-05-17', '2020-05-18', '2020-05-19', '2020-05-22',
       '2020-05-23', '2020-03-06', '2020-03-12', '2020-04-26',
       '2020-05-04', '2020-05-20', '2020-05-21', '2020-03-05',
       '2020-02-27', '2020-03-09', '2020-05-25', '2020-02-26',
       '2020-03-03', '2020-03-08', '2020-05-24', '2020-02-25',
       '2020-03-02', '2020-02-11', '2020-02-20', '2020-02-24',
       '2020-02-29', '2020-03-01', '2020-02-12', '2020-01-29',
       '2020-01-31', '2020-02-07', '2020-01-28', '2020-02-04',
       '2020-02-06', '2020-02-03', '2020-02-22'], dtype=object)

In [10]:
#rename the columns to ensure uniformity of column names across datasets to avoid confusion
final.rename(columns={'cases':'new_total'},inplace=True)
final.rename(columns={'deaths':'new_deaths'},inplace=True)
final.rename(columns={'recovered':'new_recovered'},inplace=True)
final.head()

,state,county,date,new_total,new_deaths,new_recovered,code
0,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-02-28,1,0,1,BW
1,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-03-04,3,0,3,BW
2,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-03-07,1,0,1,BW
3,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-03-10,1,0,1,BW
4,Baden-Wuerttemberg,LK Alb-Donau-Kreis,2020-03-11,2,0,2,BW

In [11]:
#save this file in csv format
final.to_csv('ger_case_final.csv')

In [11]:
#this is the code to transfer the file directly to the sql server from this notebook
import pyodbc
server = 'kanpurmcintern.database.windows.net'
database = 'CovidViz'
username = 'rkatiyar'
password = 'covid19Pass!'
driver= '{ODBC Driver 17 for SQL Server}'
url = 'DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password
cnxn = pyodbc.connect(url)
cursor=cnxn.cursor()
for index,row in final.iterrows():
    cursor.execute("INSERT INTO dbo.ger_case([state],[county],[date],[cases],[deaths],[recovered],[code])values(?,?,?,?,?,?,?)",row['state'],row['county'],row['date'],row['cases'],row['deaths'],row['recovered'],row['code'])
    cnxn.commit()
cursor.close()
cnxn.close()

KeyError: 'cases'

In [12]:
#the nest part involves the conversion of new cases to cumulative cases. This required the insertion of zero rows for all the
#dates, states and counties. To save computational time and storage, we have two separate files for states and counties
#as doing it in three nested for loops would require more time.
df = pd.read_csv('ger_case_final.csv')

In [13]:
#first we prepare the state-wise cases file and hence we drop the county column
df = df.drop('Unnamed: 0',axis=1)
df = df.drop('code',axis=1)
df = df.drop('county',axis=1)
df.head()

                state        date  new_total  new_deaths  new_recovered
0  Baden-Wuerttemberg  2020-02-28          1           0              1
1  Baden-Wuerttemberg  2020-03-04          3           0              3
2  Baden-Wuerttemberg  2020-03-07          1           0              1
3  Baden-Wuerttemberg  2020-03-10          1           0              1
4  Baden-Wuerttemberg  2020-03-11          2           0              2

In [14]:
#group the data by state and set state and dates list
df = df.groupby(['state','date']).agg(sum).reset_index()
states = df['state'].unique()
dates = pd.date_range(df['date'].min(),df['date'].max())
#count number of rows for verification after the insertion of zero rows
nrows = df.count()
print(nrows)
df.head()

state            1341
date             1341
new_total        1341
new_deaths       1341
new_recovered    1341
dtype: int64

                state        date  new_total  new_deaths  new_recovered
0  Baden-Wuerttemberg  2020-02-11          1           0              1
1  Baden-Wuerttemberg  2020-02-20          1           0              1
2  Baden-Wuerttemberg  2020-02-24          1           0              1
3  Baden-Wuerttemberg  2020-02-25          3           0              3
4  Baden-Wuerttemberg  2020-02-26          4           0              4

In [15]:
#convert the data column from 'object' to 'date' format required for comparison operator used in the loop in next step
df['date'] = pd.to_datetime(df['date'])
df.head()

                state       date  new_total  new_deaths  new_recovered
0  Baden-Wuerttemberg 2020-02-11          1           0              1
1  Baden-Wuerttemberg 2020-02-20          1           0              1
2  Baden-Wuerttemberg 2020-02-24          1           0              1
3  Baden-Wuerttemberg 2020-02-25          3           0              3
4  Baden-Wuerttemberg 2020-02-26          4           0              4

In [16]:
#loop to insert the zero-rows
for i in states:
    for k in dates:
        if(((df['state']==i) & (df['date']==k)).any()==False):
                new_row = {'state':i,'date':k,'new_total':0,'new_deaths':0,'new_recovered':0}
                df = df.append(new_row,ignore_index=True)

In [17]:
#count the number of rows for verification
nrows = df.count()
print(nrows)

state            1904
date             1904
new_total        1904
new_deaths       1904
new_recovered    1904
dtype: int64

In [18]:
#calculation for active cases and cumulative total cases, deaths, recovered, active cases
df['cum_total'] = df.groupby(by=['state'])['new_total'].transform(lambda x: x.cumsum())
df['cum_deaths'] = df.groupby(by=['state'])['new_deaths'].transform(lambda x: x.cumsum())
df['cum_recovered'] = df.groupby(by=['state'])['new_recovered'].transform(lambda x: x.cumsum())
df['cum_active']=df['cum_total']-df['cum_deaths']-df['cum_recovered']
df['new_active']=df['new_total']-df['new_deaths']-df['new_recovered']
pd.set_option('display.max_rows', None)
df.head()

,state,date,new_total,new_deaths,new_recovered,cum_total,cum_deaths,cum_recovered,cum_active,new_active
0,Baden-Wuerttemberg,2020-02-11,1,0,1,1,0,1,0,0
1,Baden-Wuerttemberg,2020-02-20,1,0,1,2,0,2,0,0
2,Baden-Wuerttemberg,2020-02-24,1,0,1,3,0,3,0,0
3,Baden-Wuerttemberg,2020-02-25,3,0,3,6,0,6,0,0
4,Baden-Wuerttemberg,2020-02-26,4,0,4,10,0,10,0,0

In [19]:
#save the file in csv format
df.to_csv('ger_covid_state.csv')

In [20]:
#now we will do the same steps to obtain the county-wise cases file
#drop the state column in this case
df = pd.read_csv('ger_case_final.csv')
df = df.drop('Unnamed: 0',axis=1)
df = df.drop('code',axis=1)
df = df.drop('state',axis=1)
df.head()

               county        date  new_total  new_deaths  new_recovered
0  LK Alb-Donau-Kreis  2020-02-28          1           0              1
1  LK Alb-Donau-Kreis  2020-03-04          3           0              3
2  LK Alb-Donau-Kreis  2020-03-07          1           0              1
3  LK Alb-Donau-Kreis  2020-03-10          1           0              1
4  LK Alb-Donau-Kreis  2020-03-11          2           0              2

In [21]:
#prepare lists for counties and dates
#check the number of rows for later verification
counties = df['county'].unique()
dates = pd.date_range(df['date'].min(),df['date'].max())
nrows = df.count()
print(nrows)
df.head()

county           21857
date             21857
new_total        21857
new_deaths       21857
new_recovered    21857
dtype: int64

               county        date  new_total  new_deaths  new_recovered
0  LK Alb-Donau-Kreis  2020-02-28          1           0              1
1  LK Alb-Donau-Kreis  2020-03-04          3           0              3
2  LK Alb-Donau-Kreis  2020-03-07          1           0              1
3  LK Alb-Donau-Kreis  2020-03-10          1           0              1
4  LK Alb-Donau-Kreis  2020-03-11          2           0              2

In [22]:
#conver date column from object to date datatype for successful comparison in the loop
df['date'] = pd.to_datetime(df['date'])
df.head()

               county       date  new_total  new_deaths  new_recovered
0  LK Alb-Donau-Kreis 2020-02-28          1           0              1
1  LK Alb-Donau-Kreis 2020-03-04          3           0              3
2  LK Alb-Donau-Kreis 2020-03-07          1           0              1
3  LK Alb-Donau-Kreis 2020-03-10          1           0              1
4  LK Alb-Donau-Kreis 2020-03-11          2           0              2

In [23]:
#insert zero-rows using two nested for loops
for j in counties:
    for k in dates:
        if(((df['county']==j) & (df['date']==k)).any()==False):
                new_row = {'county':j,'date':k,'new_total':0,'new_deaths':0,'new_recovered':0}
                df = df.append(new_row,ignore_index=True)

In [24]:
#count the number of rows for verification
nrows = df.count()
print(nrows)

county           49028
date             49028
new_total        49028
new_deaths       49028
new_recovered    49028
dtype: int64

In [25]:
#calculation for active cases and cumulative total cases, deaths, recovered, active cases
df['cum_total'] = df.groupby(by=['county'])['new_total'].transform(lambda x: x.cumsum())
df['cum_deaths'] = df.groupby(by=['county'])['new_deaths'].transform(lambda x: x.cumsum())
df['cum_recovered'] = df.groupby(by=['county'])['new_recovered'].transform(lambda x: x.cumsum())
#df.rename(columns = {'cases':'New_Total','deaths':'New_Deaths','recovered':'New_Recovered'},inplace=True)
df['cum_active']=df['cum_total']-df['cum_deaths']-df['cum_recovered']
df['new_active']=df['new_total']-df['new_deaths']-df['new_recovered']
pd.set_option('display.max_rows', None)
df.head()

,county,date,new_total,new_deaths,new_recovered,cum_total,cum_deaths,cum_recovered,cum_active,new_active
0,LK Alb-Donau-Kreis,2020-02-28,1,0,1,1,0,1,0,0
1,LK Alb-Donau-Kreis,2020-03-04,3,0,3,4,0,4,0,0
2,LK Alb-Donau-Kreis,2020-03-07,1,0,1,5,0,5,0,0
3,LK Alb-Donau-Kreis,2020-03-10,1,0,1,6,0,6,0,0
4,LK Alb-Donau-Kreis,2020-03-11,2,0,2,8,0,8,0,0

In [26]:
#save the county-wise case file in a csv format
df.to_csv('ger_case_corr.csv')

In [27]:
data = pd.read_excel('ger_country_case.xlsx')
data.to_csv()
data.rename(columns={'new_recoveries':'new_recovered'},inplace=True)
data.head()

,date,new_total,new_deaths,new_recovered,cum_total,cum_deaths,cum_recovered,cum_active,new_active
0,2020-01-27,1,0,0,1,0,0,1,1
1,2020-01-28,3,0,0,4,0,0,4,3
2,2020-01-29,0,0,0,4,0,0,4,0
3,2020-01-30,0,0,0,4,0,0,4,0
4,2020-01-31,1,0,0,5,0,0,5,1

In [28]:
data['date'].unique()

array(['2020-01-27T00:00:00.000000000', '2020-01-28T00:00:00.000000000',
       '2020-01-29T00:00:00.000000000', '2020-01-30T00:00:00.000000000',
       '2020-01-31T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-02-02T00:00:00.000000000', '2020-02-03T00:00:00.000000000',
       '2020-02-04T00:00:00.000000000', '2020-02-05T00:00:00.000000000',
       '2020-02-06T00:00:00.000000000', '2020-02-07T00:00:00.000000000',
       '2020-02-08T00:00:00.000000000', '2020-02-09T00:00:00.000000000',
       '2020-02-10T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-02-12T00:00:00.000000000', '2020-02-13T00:00:00.000000000',
       '2020-02-14T00:00:00.000000000', '2020-02-15T00:00:00.000000000',
       '2020-02-16T00:00:00.000000000', '2020-02-17T00:00:00.000000000',
       '2020-02-18T00:00:00.000000000', '2020-02-19T00:00:00.000000000',
       '2020-02-20T00:00:00.000000000', '2020-02-21T00:00:00.000000000',
       '2020-02-22T00:00:00.000000000', '2020-02-23T00:00:00.000000000',
       '2020-02-24T00:00:00.000000000', '2020-02-25T00:00:00.000000000',
       '2020-02-26T00:00:00.000000000', '2020-02-27T00:00:00.000000000',
       '2020-02-28T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-03-02T00:00:00.000000000',
       '2020-03-03T00:00:00.000000000', '2020-03-04T00:00:00.000000000',
       '2020-03-05T00:00:00.000000000', '2020-03-06T00:00:00.000000000',
       '2020-03-07T00:00:00.000000000', '2020-03-08T00:00:00.000000000',
       '2020-03-09T00:00:00.000000000', '2020-03-10T00:00:00.000000000',
       '2020-03-11T00:00:00.000000000', '2020-03-12T00:00:00.000000000',
       '2020-03-13T00:00:00.000000000', '2020-03-14T00:00:00.000000000',
       '2020-03-15T00:00:00.000000000', '2020-03-16T00:00:00.000000000',
       '2020-03-17T00:00:00.000000000', '2020-03-18T00:00:00.000000000',
       '2020-03-19T00:00:00.000000000', '2020-03-20T00:00:00.000000000',
       '2020-03-21T00:00:00.000000000', '2020-03-22T00:00:00.000000000',
       '2020-03-23T00:00:00.000000000', '2020-03-24T00:00:00.000000000',
       '2020-03-25T00:00:00.000000000', '2020-03-26T00:00:00.000000000',
       '2020-03-27T00:00:00.000000000', '2020-03-28T00:00:00.000000000',
       '2020-03-29T00:00:00.000000000', '2020-03-30T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-04-02T00:00:00.000000000', '2020-04-03T00:00:00.000000000',
       '2020-04-04T00:00:00.000000000', '2020-04-05T00:00:00.000000000',
       '2020-04-06T00:00:00.000000000', '2020-04-07T00:00:00.000000000',
       '2020-04-08T00:00:00.000000000', '2020-04-09T00:00:00.000000000',
       '2020-04-10T00:00:00.000000000', '2020-04-11T00:00:00.000000000',
       '2020-04-12T00:00:00.000000000', '2020-04-13T00:00:00.000000000',
       '2020-04-14T00:00:00.000000000', '2020-04-15T00:00:00.000000000',
       '2020-04-16T00:00:00.000000000', '2020-04-17T00:00:00.000000000',
       '2020-04-18T00:00:00.000000000', '2020-04-19T00:00:00.000000000',
       '2020-04-20T00:00:00.000000000', '2020-04-21T00:00:00.000000000',
       '2020-04-22T00:00:00.000000000', '2020-04-23T00:00:00.000000000',
       '2020-04-24T00:00:00.000000000', '2020-04-25T00:00:00.000000000',
       '2020-04-26T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-04-28T00:00:00.000000000', '2020-04-29T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-05-01T00:00:00.000000000',
       '2020-05-02T00:00:00.000000000', '2020-05-03T00:00:00.000000000',
       '2020-05-04T00:00:00.000000000', '2020-05-05T00:00:00.000000000',
       '2020-05-06T00:00:00.000000000', '2020-05-07T00:00:00.000000000',
       '2020-05-08T00:00:00.000000000', '2020-05-09T00:00:00.000000000',
       '2020-05-10T00:00:00.000000000', '2020-05-11T00:00:00.000000000',
       '2020-05-12T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2020-05-14T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-16T00:00:00.000000000', '2020-05-17T00:00:00.000000000',
       '2020-05-18T00:00:00.000000000', '2020-05-19T00:00:00.000000000',
       '2020-05-20T00:00:00.000000000', '2020-05-21T00:00:00.000000000',
       '2020-05-22T00:00:00.000000000', '2020-05-23T00:00:00.000000000',
       '2020-05-24T00:00:00.000000000'], dtype='datetime64[ns]')

In [29]:
data.to_csv('ger_country_case.csv')